<div class="card" style="min-height: 200px">
    <div class="image">
      <img
        src="../../assets/images/{{ data.image }}"
        class="card-img-top img-fluid"
        alt="data.code"
      />
    </div>
    <br>
    <div class="card-body">
      <h4 class="card-title"><span class="label label-primary"> {{ data.code }} </span><i class="fas fa-bookmark"></i></h4>
      <br>
      <button
        *ngIf="!data.showMe"
        class="btn btn-sm btn-success"
        (click)="data.showMe = !data.showMe">
        Details
      </button>
      <div class="container" *ngIf="data.showMe">
        <button
          class="btn btn-sm btn-danger"
          (click)="data.showMe = !data.showMe"
        >
          Close
        </button>
        <div class="details">
          <ul>
            <li><strong>Name: </strong> {{ data.name }}</li>
            <li><strong>Teacher: </strong> {{ data.teacher }}</li>
            <li><strong>Mark: </strong> {{ data.mark }}</li>
            <li><strong>Type: </strong> {{ data.type }}</li>
            <li><strong>Semester: </strong> {{ data.semester }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>