#subjects {
    margin: 100px 20px 20px 20px;
    text-align: center;
}

.img-fluid {
    margin: 0 auto;
    padding: 15px;
    max-width: 70%;
    max-height: auto;
}

.card-img-top {
    width: 100%;
    height: auto;

}